@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif; }

h1,
.h1,
h3,
.h3 {
  font-family: 'PT Serif', serif;
  font-weight: 700; }

h1, .h1 {
  color: #ffffff;
  font-size: 2.8rem;
  text-align: center; }

h3, .h3 {
  color: #222222;
  font-size: 2.1rem; }

p {
  font-size: 1.6rem;
  color: #dadada;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #dadada; }

.nav {
  display: none;
  width: 100%;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: column;
  position: absolute;
  top: 6.2rem;
  z-index: 999;
  background: #222222;
  padding: 3rem; }
  @media (min-width: 62em) {
    .nav {
      position: relative;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      margin-top: 0;
      flex-direction: row;
      background: transparent;
      padding: 0; } }
  .nav li {
    list-style: none; }
    .nav li .nav-link {
      font-size: 1.4rem; }
      .nav li .nav-link:active, .nav li .nav-link:hover {
        color: #4D4D4D; }
  .nav.show {
    display: flex; }

.btn:link, .btn:visited {
  display: inline-block;
  border-radius: 4px; }

.btn-primary {
  color: #ffffff;
  background-color: #ed2623; }
  .btn-primary:active, .btn-primary:hover {
    background-color: #dd0c09; }

.btn-secondary {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent; }
  .btn-secondary:active, .btn-secondary:hover {
    color: #dadada; }

.btn-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media (min-width: 36em) {
    .btn-group {
      flex-direction: row; } }

.btn-sm {
  padding: 0.6rem 1.6rem;
  font-size: 1.4rem; }

.btn-md {
  padding: 0.8rem 3.2rem;
  font-size: 1.6rem; }

.wrapper {
  position: relative;
  height: 100vh;
  background: linear-gradient(#222222, #222222), url("/images/circles-otaku.svg");
  background-position: center;
  background-repeat: no-repeat; }

.container {
  position: relative;
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 48em) {
    .container {
      width: 80%; } }

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0; }
  .header .humburger {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 62em) {
      .header .humburger {
        display: none; } }
    .header .humburger .toggler {
      display: none; }
      .header .humburger .toggler.active {
        display: block; }
  .header .logo {
    width: 30%; }
    @media (min-width: 36em) {
      .header .logo {
        width: 20%; } }
    @media (min-width: 62em) {
      .header .logo {
        width: 15%; } }
    .header .logo img {
      display: block;
      width: 100%;
      height: 100%; }

.main {
  position: relative;
  height: 80vh; }
  .main .anime {
    text-align: center; }
    .main .anime .lead {
      width: 90%;
      margin: 0 auto;
      padding: .8rem 0 4rem 0; }
      @media (min-width: 48em) {
        .main .anime .lead {
          width: 60%; } }
      @media (min-width: 75em) {
        .main .anime .lead {
          width: 45%; } }
  .main .upload-image {
    width: 22rem;
    height: 18rem;
    margin: 4.7rem auto 6rem auto;
    border-radius: 8px;
    overflow: hidden; }
    @media (min-width: 36em) {
      .main .upload-image {
        width: 30rem;
        height: 18rem; } }
    .main .upload-image img {
      display: block;
      width: 100%;
      height: 100%; }
  .main .result-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 3.3rem auto;
    padding: 1.6rem;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: fit-content;
    gap: 3rem; }
    @media (min-width: 36em) {
      .main .result-info {
        flex-direction: row; } }
  .main .result-image {
    width: 205px;
    height: 140px; }
    @media (min-width: 36em) {
      .main .result-image {
        width: 140px;
        height: 90px; } }
    .main .result-image img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 8px; }
  .main .result-text p {
    color: #ffffff; }
    .main .result-text p span {
      color: #dadada;
      margin-left: .4rem; }

.footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: .1rem;
  align-items: center;
  gap: 1rem; }
  .footer span {
    color: #ffffff; }

.history {
  position: absolute;
  padding: 2rem;
  border-radius: 16px;
  background-color: #ffffff;
  width: fit-content;
  right: 0;
  bottom: 4rem;
  z-index: 99;
  display: none; }
  .history-header {
    display: flex;
    justify-content: space-between;
    gap: 3rem; }
    .history-header .close {
      cursor: pointer; }
      .history-header .close:hover svg path {
        stroke: #dd0c09; }
  .history-details {
    display: flex;
    align-items: center;
    margin-top: 2.2rem; }
    .history-details .image {
      width: 69px;
      height: 60px; }
      .history-details .image img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px; }
    .history-details .text {
      margin-left: 1.2rem; }
      .history-details .text p:first-child {
        color: #4D4D4D; }
      .history-details .text p:last-child {
        color: #828282; }
  .history:after {
    z-index: 1;
    position: absolute;
    top: 98.1%;
    left: 70%;
    margin-left: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 2rem #ffffff;
    border-left: solid 2rem transparent;
    border-right: solid 2rem transparent; }
  .history.show {
    display: block; }
