//Color
$primary: #ed2623;
$primary-dark: #dd0c09;
$white: #ffffff;
$dark: #222222;
$gray: #dadada;
$gray-dark: #828282;

//Fontsizes
$h1-font-size: 3.4rem;
$h2-font-size: 2.4rem;
$h3-font-size: 1.8rem;
$h4-font-size: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-md: 1.6rem;
$font-size-sm: 1.4rem;