//Color
$primary: #ed2623;
$primary-dark: #dd0c09;
$white: #ffffff;
$dark: #222222;
$gray: #dadada;
$gray-light: #828282;
$gray-dark: #4D4D4D;

//Fontsizes
$h1-font-size: 2.8rem;
$h3-font-size: 2.1rem;
$font-size-lg: 1.8rem;
$font-size-md: 1.6rem;
$font-size-sm: 1.4rem;
$font-size-xs: 1.2rem;
