

.btn{
    &:link,
    &:visited{
        display: inline-block;
        border-radius: 4px;
    }

    &-primary {
        color: $white;
        background-color: $primary;

        &:active,
        &:hover{
            background-color: $primary-dark;
        }
    }

    &-secondary {
        color: $white;
        background-color: transparent;
        border: 1px solid transparent;

        &:active,
        &:hover{
            color: $gray;
        }
    }

    &-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @include respond(phone-land){
            flex-direction: row;
        }
    }

    &-sm{
        padding: 0.6rem 1.6rem;
        font-size: $font-size-sm;
    }

    &-md{
        padding: 0.8rem 3.2rem;
        font-size: $font-size-md;
    }
}