h1,
.h1,
h3,
.h3{
    font-family: 'PT Serif', serif;
    font-weight: 700;
}
h1,.h1{
    color: $white;
    font-size: $h1-font-size;
    text-align: center;
}



h3,.h3{
    color: $dark;
    font-size: $h3-font-size;
}

p{
    font-size: $font-size-md;
    color: $gray;
    font-weight: 400;
}


a{
    text-decoration: none;
    color: $gray;
}
